antora:
  extensions:
    - require: '@springio/antora-extensions'
      root_component_name: 'mykb'
    - require: '@antora/lunr-extension'
site:
  title: My Knowledgebase
  url: https://docs.spring.io/spring-security/reference
  robots: allow
content:
  sources:
  - url: .
    branches: HEAD
asciidoc:
  sourcemap: true
  attributes:
    chomp: all
    page-pagination: ''
    #page-stackoverflow-url: https://stackoverflow.com/tags/spring-security
    #page-related-doc-categories: security
    #page-related-doc-projects: framework,graphql
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
    allow-uri-read: ''
    include-glibc: 'https://github.com/bminor/glibc/blob/master'
  extensions:
    - '@asciidoctor/tabs'
    - '@springio/asciidoctor-extensions'
    - '@springio/asciidoctor-extensions/include-code-extension'
    - '@springio/asciidoctor-extensions/javadoc-extension'
ui:
  bundle:
    #url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.4.25/ui-bundle.zip
    snapshot: true
  supplemental_files: ./ui
runtime:
  log:
    failure_level: error